*{
    margin:0;
    padding:0;
}
body{
    background:#e9e9e9;
    font-family:Georgia;
    font-size: 34px;
    font-style: italic;
    letter-spacing:-1px;
    width:800%;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
}
.section{
    margin:0px;
    bottom:0px;
    width:25%;
    float:left;
    height:100%;
    // text-shadow:1px 1px 2px #f0f0f0;
}
.section h2{
    margin:50px 0px 30px 50px;
}
.section p{
    margin:20px 0px 0px 50px;
    width:25%;
}
.black{
    color:gray;
    background-color: #e9e9e9;
    
}
.white{
    color:#e9e9e9;
    background-color: gray;
    
}
.section ul{
    list-style:none;
    margin:20px 0px 0px 550px;
}
.black ul li{
    float:right;
    padding:5px;
    margin:5px;
    color:black;
}
.black ul li a{
    display:block;
    color:black;
}
.black ul li a:hover{
    text-decoration:none;
    color:#fff;
}
.white ul li{
    float:right;
    padding:5px;
    margin:5px;
    color:black;
}
.white ul li a{
    display:block;
    color:black;
}
.white ul li a:hover{
    text-decoration:none;
    color:gray;
}