/* line 1, style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, style.scss */
body {
  background: #e9e9e9;
  font-family: Georgia;
  font-size: 34px;
  font-style: italic;
  letter-spacing: -1px;
  width: 800%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

/* line 17, style.scss */
.section {
  margin: 0px;
  bottom: 0px;
  width: 25%;
  float: left;
  height: 100%;
}

/* line 25, style.scss */
.section h2 {
  margin: 50px 0px 30px 50px;
}

/* line 28, style.scss */
.section p {
  margin: 20px 0px 0px 50px;
  width: 25%;
}

/* line 32, style.scss */
.black {
  color: gray;
  background-color: #e9e9e9;
}

/* line 37, style.scss */
.white {
  color: #e9e9e9;
  background-color: gray;
}

/* line 42, style.scss */
.section ul {
  list-style: none;
  margin: 20px 0px 0px 550px;
}

/* line 46, style.scss */
.black ul li {
  float: right;
  padding: 5px;
  margin: 5px;
  color: black;
}

/* line 52, style.scss */
.black ul li a {
  display: block;
  color: black;
}

/* line 56, style.scss */
.black ul li a:hover {
  text-decoration: none;
  color: #fff;
}

/* line 60, style.scss */
.white ul li {
  float: right;
  padding: 5px;
  margin: 5px;
  color: black;
}

/* line 66, style.scss */
.white ul li a {
  display: block;
  color: black;
}

/* line 70, style.scss */
.white ul li a:hover {
  text-decoration: none;
  color: gray;
}
